.NavBar{
    height: 10%;
    background-color: black;
    width: 100%;
}
.a{
  color: white;

    
}
h2{
    padding-left: -1rem;
    
}
body{
  background-color: black;

}
.backGround{
  background-color: rgb(214, 154, 189);;
  height: 300%; 
  width: 100%;
  box-shadow: 5px 10px  #888888;

 

  
}
.groundBack{
background: #9ceeeb;


}

.gray{
  background-color: rgb(255,253,208);
}
.shadow{
  box-shadow: 5px 10px #888888;
}
h3{
  color:white;
  text-shadow: -1px 1px 0 rgb(110, 107, 107),
				  .1px 1px 0 rgb(110, 107, 107),
				 1px -1px 0 rgb(110, 107, 107),
				-1px -1px 0 rgb(110, 107, 107);
}

