.NavBar{
    height: 10%;
    background-color: black;
    width: 100%;
}
.a{
  color: white;

    
}
h2{
    padding-left: -1rem;
   
}
body{
  background-color: black;

}
.backGround{
  background-color: rgb(214, 154, 189);;
  height: 300%; 
  width: 100%;
  
}
.groundBack{
background-color: teal;
border-radius: 15%;
}

.gray{
  background-color: gray;
}

